<header>
<div class="container">
<nav>
<div class="brand"><a href="{{ '/' | relative_url }}">Subrat Dang</a></div>
<div class="navlinks">
<a href="{{ '/index.html' | relative_url }}">Home</a>
<a href="{{ '/about.html' | relative_url }}">About</a>
<a href="{{ '/research.html' | relative_url }}">Research</a>
<a href="{{ '/projects.html' | relative_url }}">Projects</a>
<a href="{{ '/publications.html' | relative_url }}">Publications</a>
<a href="{{ '/news.html' | relative_url }}">News</a>
<a href="{{ '/service.html' | relative_url }}">Academic Service</a>
<a href="{{ '/education.html' | relative_url }}">Education</a>
<a href="{{ '/collaboration.html' | relative_url }}">Collaboration</a>
<a href="{{ '/contact.html' | relative_url }}">Contact</a>
</div>
</nav>
</div>
</header>